.profile-container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 1px solid var(--sidebar-bg);
  border-radius: 8px;
  background-color: var(--sidebar-bg);
  max-width: 500px;
  margin: 2rem auto;
  position: relative;
  color: white;
  border-color: white;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.profile-header h2 {
  margin-bottom: 0.25rem;
  color: white;
}

.profile-header p {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}

.label-wrapper {
  position: relative;
  display: inline-block;
  text-align: left;
}

.form-group label {
  font-size: 0.85rem;
  color: white;
  text-align: left;
}

.form-group input,
.form-group select {
  padding: 0.75rem;
  border: 1px solid var(--input-bg);
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  color: black;
}

.form-group input::placeholder {
  color: grey;
}

.form-hint {
  font-size: 0.85rem;
  color: white;
  margin-bottom: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: grey;
  position: absolute;
  z-index: 100;
  padding: 0.5rem 0.75rem;
  visibility: hidden;
  left: 20%;
  top: 50%;
  transform: translateY(-50%) translateX(10px);
  border-radius: 4px;
  white-space: nowrap;
  overflow: visible;
}

.secondary-button {
  padding: 0.75rem;
  background-color: white;
  color: black;
  border: 1px solid var(--button-bg);
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.secondary-button .edit-icon {
  width: 18px;
  height: 18px;
  opacity: 1;
}


.label-wrapper:hover .form-hint {
  opacity: 1;
  visibility: visible;
}

.hover-group {
  position: relative;
}
.secondary-button:hover {
  background-color: var(--button-hover-bg);
  color: white;
}

.save-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 2rem;
  align-self: center;
  text-align: center;
  background-color: var(--preselection-button-bg);
  color: var(--preselection-button-text);
}

.save-button:hover {
  background-color: var(--preselection-button-hover-bg);
}

.mascot {
  position: absolute;
  top: -8%;
  left: -8%;
  width: 150px;
  height: auto;
  z-index: 10;
  transform: translate(-30%, -30%);
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
  transition: filter 0.3s ease;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.input-with-icon .edit-icon {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  stroke: black;
  pointer-events: none;
  opacity: 0.6;
}

.input-wrapper input:focus + .edit-icon {
  opacity: 1;
}

.edit-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.edit-container input {
  width: 100%;
  padding-right: 2.5rem;
}

.edit-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  margin-left: 8px;
  position: absolute;
  right: 10px;
  pointer-events: none;
  stroke: #777;
  color: #777;
}

.edit-container:hover .edit-icon {
  opacity: 1;
}

