 <div class="profile-page-wrapper">

   @if (isLoading) {
     <div class="loading-message">Lade Profil...</div>
   }

   @if (errorMessage && !isLoading && !originalData) {
     <div class="error-message"> {{ errorMessage }} </div>
   }

   @if (originalData) {

    <div class="profile-container">

      <div class="profile-header">
        <img src="assets/UNI.png" alt="Maskottchen" class="mascot">

        <h2>Profil bearbeiten</h2>
        <p>Hier kannst du deine persönlichen Daten anpassen.</p>
      </div>

      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="username">Benutzername</label>
          <input
            type="text"
            id="username"
            [(ngModel)]="userName"
            name="username"
            [disabled]="isLoading">
        </div>

        <div class="form-group">
          <label for="email">E-Mailadresse</label>
          <input
            type="text"
            id="email"
            [(ngModel)]="email"
            name="email"
            [disabled]="isLoading">
        </div>

        <div class="form-group">
          <label for="degree">aktueller Studiengang</label>
          <select id="degree" [(ngModel)]="selectedDegree" name="degree" [disabled]="isLoading">
            <option>Bachelor Wirtschaftsinformatik</option>
          </select>
        </div>

        <div class="form-group hover-group">

          <div class="label-wrapper">
            <label class="hint-trigger">Bereits absolvierte LVAs</label>
            <div class="form-hint">
              Diese LVAs werden bei der zukünftigen Planung berücksichtigt.
            </div>
          </div>

          <div class="secondary-button" [routerLink]="['/lva-management']">
            Absolvierte LVAs bearbeiten
          </div>
        </div>


        <div class="form-group hover-group">

          <div class="label-wrapper">
            <label class="hint-trigger">Wunschwahlfächer</label>

            <div class="form-hint">
              Priorisierte Wahlfächer für deine Pläne.
            </div>
          </div>

          <div class="secondary-button">
            Wunschwahlfächer bearbeiten
          </div>
        </div>

        @if (successMessage) {
          <div class="success-message">{{ successMessage }}</div>
        }

        @if (errorMessage) {
          <div class="success-message">{{ errorMessage }}</div>
        }

        <button type="submit" class="save-button">
          @if (isLoading) {
            Speichere...
          } @else {
            Änderungen speichern
          }
        </button>
      </form>
    </div>
   }

 </div>
