<main class="main-content">
  <div class="main-inner">
    <div class="login-container">
      <div class="login-mascott">
        <img src="../../../assets/UNI.png" alt="Maskottchen UNI">
      </div>
    </div>

    <div class="form-wrapper">
    <div class="login-box">
      <h2>Bitte melde dich an, um STUDYverse zu verwenden</h2>
      <form class="login-form" (ngSubmit)="onLogin()">
        <input type="text" placeholder="E-Mail-Adresse" required>
        <input type="password" placeholder="Passwort" required>
        <button type="submit">Anmelden</button>
      </form>
    </div>
    </div>
  </div>


  <div class="mode-toggle-container">
    <div class="mode-toggle">
      <img src="../../../assets/sunFull.png"
           alt="helles Erscheinungsbild"
           id="lightModeBtn"
           class="mode-icon"
           #lightModeIcon
           (click)="setLightMode()">
      <img src="../../../assets/moonEmpty.png"
           alt="dunkles Erscheinungsbild"
           id="darkModeBtn"
           class="mode-icon"
           #darkModeIcon (click)="setDarkMode()">
    </div>
  </div>
</main>
